AddType application/x-httpd-php htm html php
AddHandler application/x-httpd-php .htm .html

RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(create|admin)$ $1.php [NC]
RewriteRule ^([^\.]+)$ identity.php [NC]

