AddType application/x-httpd-php htm html php
AddType application/ld+json jsonld
AddHandler application/x-httpd-php .htm .html

RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^idp-key-1$ idp-key-1.jsonld [NC]
RewriteRule ^idp$ idp.jsonld [NC]
RewriteRule ^(create|email|about)$ $1.php [NC]
RewriteRule ^([^\.]+)$ identity.php [NC]

RewriteRule ^idp-key-1.jsonld$ - [NC,E=cors]
RewriteRule ^idp.jsonld$ - [NC,E=cors]
Header set Access-Control-Allow-Origin "*" env=cors

<Files ".htaccess">
  Order Allow,Deny
  Deny from all
</Files>

<Files "config.php">
  Order Allow,Deny
  Deny from all
</Files>

<Files "idp-key-1.private.jsonld">
  Order Allow,Deny
  Deny from all
</Files>

